.set-item {

    &-preview {
        padding              : 12px 30px 12px 10px;
        position             : relative;
        align-items          : center;
        gap                  : 12px;

        display: flex;
    }

    &__left {
        position: absolute;
        right   : calc(100% + 20px);
        top     : 36px;
    }

    &__weight {
        border-radius  : 6px;
        width          : 50px;
        height         : 26px;
        z-index        : 2;
        position       : absolute;
        left           : 0;
        top            : 0;
        display        : flex;
        align-items    : center;
        justify-content: center;
        text-align     : center;
        font-weight    : bold;
        font-size      : 14px;
        color          : #fff;
    }

    &-img {
        position : relative;
        min-width: 118px;
        width    : 118px;

        &:before {
            content       : '';
            display       : block;
            width         : 100%;
            padding-bottom: 80%;
        }

        img {
            position  : absolute;
            left      : 0;
            top       : 0;
            width     : 100%;
            height    : 100%;
            display   : block;
            object-fit: scale-down;
        }
    }

    &-name {
        min-width: 225px;
        width: 225px;
    }

    &-counter {
        background:
            linear-gradient(var(--color-primary-10), var(--color-primary-10)),
            linear-gradient(var(--color-sec-10), var(--color-sec-10));
        border-radius : 12px;
        padding       : 12px;
        align-self    : stretch;
        display       : flex;
        flex-direction: column;
        min-width         : 105px;
        width         : 105px;
        height        : 94px;

        &__title {
            font-size    : 12px;
            opacity      : 0.8;
            margin-bottom: 20px;
        }

        &__block {
            background     : var(--bg3);
            border         : 1px solid var(--color-text-20);
            border-radius  : 6px;
            padding        : 0 6px;
            width          : 100%;
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            margin-top     : auto;
        }

        &__btn {
            background     : var(--color-text-20);
            border-radius  : 4px;
            width          : 16px;
            height         : 16px;
            display        : flex;
            align-items    : center;
            justify-content: center;
            border         : none;
            padding        : 0;

            &:before {
                content : '';
                position: absolute;
                inset   : -6px;
            }
        }

        &__input {
            color      : var(--color-primary);
            font-weight: bold;
            font-size  : 18px;
            text-align : center;
            width      : 20px;
            flex-grow  : 1;
            border     : none;
            appearance : none;
            background : var(--bg3);

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin            : 0;
            }
        }

    }

    &-propertie {
        align-self     : stretch;
        background     : var(--bg3);
        border         : 1px solid var(--color-text-20);
        box-sizing     : border-box;
        border-radius  : 12px;
        padding        : 10px;
        min-width          : 105px;
        width          : 105px;
        height         : 94px;
        display        : flex;
        flex-direction : column;
        justify-content: space-between;

        input {
            width        : 100%;
            height       : 30px;
            margin-top   : auto;
            background   : var(--bg3);
            border       : 1px solid var(--color-text-20);
            border-radius: 6px;
            text-align   : center;
            font-weight  : 600;
            font-size    : 18px;
            cursor       : pointer;

            &:hover {
                border: 1px solid var(--color-text-40);
            }

            &[readonly] {
                text-align: left;
                border    : none;
            }
        }


        &__value {
            font-weight: bold;
            font-size  : 18px;
        }

        .divider {
            margin-bottom: 8px;
            margin-top   : auto;
        }

    }

    &-desc {
        flex-grow: 1;
    }


    &-content {
        padding              : 22px;
        padding-left         : calc(10px + 118px + 12px);
        padding-right        : 142px;
        border-top           : 1px solid var(--color-text-20);
        display              : grid;
        grid-template-columns: 225px 1fr;
        grid-gap             : 12px;

        &-cover {
            transition: .25s ease;
            overflow  : hidden;
        }

        &__desc {
            grid-column: 2/-1;
            position   : relative;
            cursor     : pointer;
            display    : block;

            &:before {
                content         : '';
                position        : absolute;
                width           : 36px;
                height          : 36px;
                border-radius   : 50%;
                // background   : #F0E6DB url("../img/edit-pen.png") no-repeat center / 16px;
                right           : calc(100% + 8px);
                top             : -7px;
                transition      : .2s ease;
                opacity         : 0;
            }

            &:hover:before {
                opacity: 1;
            }

            textarea {
                display     : block;
                width       : 100%;
                font-size   : 16px;
                border-color: rgba(0, 0, 0, 0);
                background  : var(--bg3);
            }

            @media(hover) {

                &:hover textarea {
                    background: var(--color-sec-10);
                }
            }
        }
    }

    &__btn {
        width: 148px;

        &+& {
            margin-left: 15px;
        }
    }


    &__settings {
        grid-column          : 2/-1;
        display              : grid;
        grid-gap             : 12px;
        grid-template-columns: 112px 105px 105px 1fr 1fr 1fr;
    }

}

.divider {
    border-bottom: 2px dotted var(--color-text-20);
}